<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net452" />
  <package id="Dapper.Mapper" version="1.50.1" targetFramework="net452" />
  <package id="FirebirdSql.Data.FirebirdClient" version="5.5.0" targetFramework="net452" />
  <package id="fo-dicom" version="2.0.2" targetFramework="net452" />
  <package id="fo-dicom.Core" version="2.0.2" targetFramework="net452" />
  <package id="fo-dicom.Legacy" version="2.0.2" targetFramework="net452" />
  <package id="fo-dicom.Platform" version="2.0.2" targetFramework="net452" />
  <package id="NLog" version="4.0.0" targetFramework="net452" />
  <package id="NLog.Config" version="4.0.0" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.7" targetFramework="net452" />
  <package id="Platform.Invoke" version="1.0.4.0" targetFramework="net452" />
  <package id="ShellProgressBar" version="3.0.0.0" targetFramework="net452" />
</packages>